## Applying CS Definitions

This notebook contains the code to assign each course a value in the CS_Courses column. The values are 'yes' if the course is considered a CS course, or 'no' if the course is not considered a CS course. The values of 'yes' and 'no' are applied based on the digits in the StateCourseCode column. These digits are based off of OSPI CS guidance.

The example in this notebook is for 2018-2019 state course code data, but can be applied to other years if the file path is changed. The file path in this notebook is data/labelled_data/State_Course_Code_Data/2018-2019_state_course_code_statistics.csv

In [11]:
#Setup (Importing Packages) 
import csv #to read in csv files
import pandas as pd #for data wrangling
import numpy as np 
import warnings

## Step 1

In this step we are importing the `2018-2019_state_course_code_statistics.csv` using the read_csv method of the Pandas package and saving it as a dataframe.

This dataframe is a list of state course code courses taught at schools in the state of Washington.

In [12]:
#Importing and Saving Student Results for State Courses
#Note: this is where you will want to change the file name for the new State Course Code Student Results Dataset
cip_courses  = pd.read_csv("data/labelled_data/State_Course_Code_Data/2018-2019_state_course_code_statistics.csv")

## Step 2

In this step we are adding a column called "CS_Courses".

In [13]:
cip_courses["CS_Courses"] = ""
cip_courses.head(5)

,DistrictCode,DistrictName,SchoolCode,SchoolName,term,StateCourseCode,courseTitle,letterGrade,count,CS_Courses
0,1109,Washtucna School District,3075,Washtucna Elementary/High School,SEM1,10157,AP Computer Science A,A-,2,
1,1109,Washtucna School District,3075,Washtucna Elementary/High School,SEM1,10157,AP Computer Science A,A,1,
2,1109,Washtucna School District,3075,Washtucna Elementary/High School,SEM1,10157,COMPUTER SCI,A-,1,
3,1109,Washtucna School District,3075,Washtucna Elementary/High School,SEM1,10157,COMPUTER SCI,B,1,
4,1109,Washtucna School District,3075,Washtucna Elementary/High School,SEM2,10157,AP Computer Science A,A-,1,

## Step 3

In this step we are adding definitions to the CS_Courses column based on the values in the StateCourseCode column in accordance with OSPI CS guidance.

In [14]:
cs_courses = []
#Running a loop through the state course codes
#Note: this is where you will want to change the column name if the state course codes are found in a different column for a different dataset
for x in cip_courses["StateCourseCode"]:
#The numbers represent state course codes that classify a course as being a CS course or not.
#Note: these digits are based on the OSPI CS guidance. If those change change then these numbers must be edited.
    if x == '10011' or x == '10012' or x == '10013' or x == '10014' or x == '10015' or x == '10016' or x == '10019' or x == '10020' or x == '10052' or x == '10053' or  x == '10054' or x == '10097'or x == '10098' or x == '10099' or x == '10101' or x == '10102' or x == '10108' or x == '10109' or x == '10148' or x == '10149' or x == '10152' or x == '10153' or x == '10154' or x == '10155' or x == '10156' or x == '10157' or x == '10159' or x == '10160' or x == '10197' or x == '10198' or x == '10199' or x == '10201' or x == '10203' or x == '10205' or x == '10206' or x == '10251' or x == '10253' or x == '10254' or x == '10297' or x == '10298' or x == '10301':
        cs_courses.append("yes")
    else:
        cs_courses.append("no")
cip_courses["CS_Courses"] = cs_courses

## Step 4

In this step you are saving and writing the dataset to the same folder.

In [15]:
#Writing the dataset to the same folder
#Note: this is where you will want to change the file name for the new State Course Code Student Results Dataset
cip_courses.to_csv("data/labelled_data/State_Course_Code_Data/2018-2019_state_course_code_statistics.csv", index = False, header=True)