In [11]:
#Setup (Importing Packages) 
import csv #to read in csv files
import pandas as pd #for data wrangling
import numpy as np 
import warnings

In [12]:
#This is where you will want to change the file name for the State Course Codes
#Heree is an example of where the 2017-2018 file path is for the state course codes: data/labelled_data/State_Course_Code_Data/2017-2018_State_Course_Codes.csv
#but for the 2018-2019 data we change the file path to: "data/labelled_data/State_Course_Code_Data/2018-2019_state_course_code_statistics.csv"
cip_courses  = pd.read_csv("data/labelled_data/State_Course_Code_Data/2018-2019_state_course_code_statistics.csv")

In [13]:
cip_courses["CS_Courses"] = ""
cip_courses.head(5)

,DistrictCode,DistrictName,SchoolCode,SchoolName,term,StateCourseCode,courseTitle,letterGrade,count,CS_Courses
0,1109,Washtucna School District,3075,Washtucna Elementary/High School,SEM1,10157,AP Computer Science A,A-,2,
1,1109,Washtucna School District,3075,Washtucna Elementary/High School,SEM1,10157,AP Computer Science A,A,1,
2,1109,Washtucna School District,3075,Washtucna Elementary/High School,SEM1,10157,COMPUTER SCI,A-,1,
3,1109,Washtucna School District,3075,Washtucna Elementary/High School,SEM1,10157,COMPUTER SCI,B,1,
4,1109,Washtucna School District,3075,Washtucna Elementary/High School,SEM2,10157,AP Computer Science A,A-,1,

In [14]:
cs_courses = []
#The 2017-2018 data the loop was "for x in cip_courses["code"]" this is because the state course code lived in the code column
#You will want to change the loop to loop through whatever column has the state course codes.
#For 2018-2019 data the state course codes live in the StateCourseCode colum so change the loop to "for x in cip_courses["StateCourseCode"]"
for x in cip_courses["StateCourseCode"]:
#the numbers represent state course codes that classify a class as being a computer Science class.
#If the the definition changes next year all you have to do is add or remove the numbers based on whether or not they are state course codes
    if x == '10011' or x == '10012' or x == '10013' or x == '10014' or x == '10015' or x == '10016' or x == '10019' or x == '10020' or x == '10052' or x == '10053' or  x == '10054' or x == '10097'or x == '10098' or x == '10099' or x == '10101' or x == '10102' or x == '10108' or x == '10109' or x == '10148' or x == '10149' or x == '10152' or x == '10153' or x == '10154' or x == '10155' or x == '10156' or x == '10157' or x == '10159' or x == '10160' or x == '10197' or x == '10198' or x == '10199' or x == '10201' or x == '10203' or x == '10205' or x == '10206' or x == '10251' or x == '10253' or x == '10254' or x == '10297' or x == '10298' or x == '10301':
        cs_courses.append("yes")
    else:
        cs_courses.append("no")
cip_courses["CS_Courses"] = cs_courses

In [15]:
#make sure you read the file to the same one as above. As per the example, data/original_data/State_Course_Code_Data/State_Course_Codes.csv
#then for 2019 it would be: "data/labelled_data/State_Course_Code_Data/state_course_code_statistics_2019.csv"
cip_courses.to_csv("data/labelled_data/State_Course_Code_Data/2018-2019_state_course_code_statistics.csv", index = False, header=True)